@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    @apply max-w-full md:w-10/12 mx-auto px-3 md:px-0
}


 .active{
    background: #75d5e3 !important;
    color: white !important;
}



.swiper-button-next, .swiper-button-prev{
    background: #75d5e3;
    padding: 25px ;
    border-radius: 50%;
    color: white !important;
}

.vertical-timeline-element{
    margin: -4rem 0 !important;
}


.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px !important;
    font-weight: 900;

}


.lg-react-element {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 26px;
}

@media only screen and (max-width: 525px){
	.lg-react-element {
        grid-template-columns: repeat(1,1fr) ;
        gap: 26px; 
    }
}